{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Planificación del día</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, provident impedit. Eligendi, dolorum laborum cumque iusto laboriosam veritatis. Quasi, dolorem cumque unde sapiente repellendus exercitationem quibusdam quos cum nostrum doloribus. Nam dolorem, recusandae fuga sapiente, ab tempora aliquam repellendus corrupti commodi maiores assumenda nulla perferendis, consectetur architecto aliquid? Adipisci ea beatae architecto provident libero nemo rerum saepe. Quis, nesciunt animi porro vitae quas placeat. Voluptate alias laboriosam animi deleniti quae, quia aperiam modi perferendis fugit temporibus consequatur ut vero libero ipsam quam consectetur quo ullam deserunt cum aliquid quos minus consequuntur adipisci! Ea beatae est magni vel, iusto voluptatum nihil? Debitis ipsum corporis accusantium itaque aliquid sint nihil. Eveniet expedita odio quae ex earum dolor quibusdam dignissimos voluptatibus eum inventore.
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Iniciar Sesión
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrarse
        </a>
    </div>
    </section>
</main>
{% endblock %}

